<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
    <style>
        body { 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%
     }
    header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    }
    form { margin: 20px; font-size: larger; }
    button {font-size: larger;}
    input {font-size: larger;}
    div { margin: 20px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
        </style>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
      </form>
      <form action="/.netlify/functions/logout" method="get">
        <button type="submit">Logout</button>
      </form>      
    <h1>Update a Grave Record</h1>
    <p>Enter the Memorial ID of a specific record to see its information.</p>
    <p>Make changes as needed, then click "Update This Record" to save the changes to the database. Please verify the changes are accurate prior to saving.</p>
    <form action="/.netlify/functions/getUpdateRecord" method="get">
        <label for="memorialID">Interment ID to Update:</label>
        <input type="number" id="memorialID" name="memorialID">
        <button type="submit">Search</button>
      </form>
      

    <h1>Search Results</h1>
    <% if(record) { %>
        <table>
        <tr>
            <th>Field Name</th>
            <th>Value</th>
        </tr>
        <form action="/.netlify/functions/updateRecord" method="POST">
            <tr>
                <td><label for="memorial_id">Memorial ID</label></td>
                <td><input type="text" value="<%= record.memorial_id %>" name="memorial_id" ></td>
            </tr>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" value="<%= record.title %>" name="title" ></td>
            </tr>
                <td><label for="last_name">Last Name</label></td>
                <td><input type="text" value="<%= record.last_name %>" name="last_name" ></td>
            </tr>
            <tr>
                <td><label for="first_name">First Name</label></td>
                <td><input type="text" value="<%= record.first_name %>" name="first_name"></td>
            </tr>
            <tr>
                <td><label for="middle_name">Middle Name</label></td>
                <td><input type="text" value="<%= record.middle_name %>" name="middle_name"></td>
            </tr>
            <tr>
                <td><label for="maiden_name">Maiden Name</label></td>
                <td><input type="text" value="<%= record.maiden_name %>" name="maiden_name"></td>
            </tr>
            <tr>
                <td><label for="suffix">Suffix</label></td>
                <td><input type="text" value="<%= record.suffix %>" name="suffix"></td>
            </tr>
          
            <button type="submit">Update This Record</button>
        </form>
        </table>
    <% } else if (message) { %>
        <p><%= message %></p>
    
    <% } else {  %>
        <p>Enter a valid Memorial ID to search.</p>
    <% } %>   
</body>
</html>