<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
    <style>
        body { 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%
     }
    header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    }
    form { margin: 20px; font-size: larger; }
    button {font-size: larger;}
    input {font-size: larger;}
    select {font-size: larger;}
    textarea {font-size: larger;}
    div { margin: 20px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
        </style>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
      </form>
      <form action="/.netlify/functions/logout" method="get">
        <button type="submit">Logout</button>
      </form>      
    <h1>Update a Grave Record</h1>
    <p>Enter the Memorial ID of a specific record to see its information.</p>
    <p>Make changes as needed, then click "Update This Record" to save the changes to the database. Please verify the changes are accurate prior to saving. If a field does not need to be populated, leave it blank.</p>
    <form action="/.netlify/functions/getUpdateRecord" method="get">
        <label for="memorialID">Interment ID to Update:</label>
        <input type="number" id="memorialID" name="memorialID">
        <button type="submit">Search</button>
      </form>
      

    <h1>Search Results</h1>
    <% if(record) { %>
        <table>
        <tr>
            <th>Field Name</th>
            <th>Value</th>
        </tr>
        <form action="/.netlify/functions/updateRecord" method="POST">
            <tr>
                <td><label for="memorial_id">Memorial ID</label></td>
                <td><input type="text" value="<%= record.memorial_id %>" name="memorial_id" ></td>
            </tr>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" value="<%= record.title %>" name="title" ></td>
            </tr>
                <td><label for="last_name">Last Name</label></td>
                <td><input type="text" value="<%= record.last_name %>" name="last_name" ></td>
            </tr>
            <tr>
                <td><label for="first_name">First Name</label></td>
                <td><input type="text" value="<%= record.first_name %>" name="first_name"></td>
            </tr>
            <tr>
                <td><label for="middle_name">Middle Name</label></td>
                <td><input type="text" value="<%= record.middle_name %>" name="middle_name"></td>
            </tr>
            <tr>
                <td><label for="maiden_name">Maiden Name</label></td>
                <td><input type="text" value="<%= record.maiden_name %>" name="maiden_name"></td>
            </tr>
            <tr>
                <td><label for="suffix">Suffix</label></td>
                <td><input type="text" value="<%= record.suffix %>" name="suffix"></td>
            </tr>
            <tr>
                <td><label for="birth_year">Birth Year</label></td>
                <td><input type="number" value="<%= record.birth_year %>" name="birth_year" min="1800" max="2050"></td>
            </tr>
            <tr>
                <td><label for="birth_month">Birth Month</label></td>
                    <td><select name="section" id="section">
                        <option value="<%= record.birth_month %>"><%= record.birth_month %></option>
                        <option value="">none/unknown</option>
                        <option value="Jan">Jan</option>
                        <option value="Feb">Feb</option>
                        <option value="Mar">Mar</option>
                        <option value="Apr">Apr</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="Jul">Jul</option>
                        <option value="Aug">Aug</option>
                        <option value="Sep">Sep</option>
                        <option value="Oct">Oct</option>
                        <option value="Nov">Nov</option>
                        <option value="Dec">Dec</option>
                      </select></td>
            </tr>
            <tr>
                <td><label for="birth_day">Birth Day</label></td>
                <td><input type="number" value="<%= record.birth_day %>" name="birth_day" min="1" max="31"></td>
            </tr>
            <tr>
                <td><label for="death_year">Death Year</label></td>
                <td><input type="number" value="<%= record.death_year %>" name="death_year" min="1800" max="2050"></td>
            </tr>
            <tr>
                <td><label for="death_month">Death Month</label></td>
                <td><select name="section" id="section">
                    <option value="<%= record.death_month %>"><%= record.death_month %></option>
                    <option value="">none/unknown</option>
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                    <option value="Jun">Jun</option>
                    <option value="Jul">Jul</option>
                    <option value="Aug">Aug</option>
                    <option value="Sep">Sep</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option value="Dec">Dec</option>
                  </select></td>
            </tr>
            <tr>
                <td><label for="death_day">Death Day</label></td>
                <td><input type="number" value="<%= record.death_day %>" name="death_day" min="1" max="31"></td>
            </tr>
            <tr>
                <td><label for="section">Section</label></td>
                <td><select name="section" id="section">
                    <option value="<%= record.section %>"><%= record.section %></option>
                    <option value="">none/unknown</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="SINGLE">SINGLE</option>
                  </select></td>
            </tr>
            <tr>
                <td><label for="lot">Lot</label></td>
                <td><input type="number" value="<%= record.lot %>" name="lot"></td>
            </tr>
            <tr>
                <td><label for="veteran">Veteran</label></td>
                <td><select name="veteran" id="veteran">
                    <option value="<%= record.veteran %>"><%= record.veteran %></option>
                    <option value=""></option>
                    <option value="Y">Y</option>
                  </select></td>
            </tr>
            <tr>
                <td><label for="notes">Notes</label></td>
                <td><textarea name="notes" maxlength="500"><%= record.notes %></textarea></td>
            </tr>
            <tr>
                <td><label for="moved_from">Moved From</label></td>
                <td><input type="text" value="<%= record.moved_from %>" name="moved_from"></td>
            </tr>
            <tr>
                <td><label for="moved_to">Moved To</label></td>
                <td><input type="text" value="<%= record.moved_to %>" name="moved_to"></td>
            </tr>
            <tr>
          
            <button type="submit">Update This Record</button>
        </form>
        </table>
    <% } else if (message) { %>
        <p><%= message %></p>
    
    <% } else {  %>
        <p>Enter a valid Memorial ID to search.</p>
    <% } %>   
</body>
</html>